
<div id="developer"><a href="https://www.linkedin.com/in/amitk007/">
    <img src="assets/linkedin.png" alt="" id="icons"></a>
  <a href="mailto:7505574@gmail.com">
    <img src="assets/email.png" alt="" id="icons"></a>
  <div id="name"><i>Designed By: Amit Verma</i></div>
</div>


<style>
     /* developer */

     #developer {
      display: flex;
      float: right;
      /* border: 1px solid black; */
      align-items: center;
      gap: 10px;


      position: absolute;
 
      right: 10px;
      bottom: 10px;
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    #icons {
      height: 40px;
    }

    #name {
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      line-height: 50px;

    }
</style>