<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not allowed</title>
</head>
<body>
    <h1>IP not allowed!</h1>
    <h3>Contact Administrator.</h3>
</body>
</html>